---
import Layout from '../layouts/Layout.astro';
import AvatarCard from '../components/AvatarCard.astro';
---

<Layout title="Welcome">
  <main>
    <AvatarCard />
  </main>
</Layout>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
  }
</style>
