@font-face {
  font-family: 'Cereal Black';
  src: url('/fonts/cereal-black.woff2') format('woff2'),
       url('/fonts/cereal-black.woff') format('woff');
  font-style: normal;
  font-weight: var(--font-weight-700);
  font-display: swap;
}

@font-face {
  font-family: 'Cereal Extra Bold';
  src: url('/fonts/cereal-extrabold.woff2') format('woff2'),
       url('/fonts/cereal-extrabold.woff') format('woff');
  font-style: normal;
  font-weight: var(--font-weight-600);
  font-display: swap;
}

@font-face {
  font-family: 'Cereal Bold';
  src: url('/fonts/cereal-bold.woff2') format('woff2'),
       url('/fonts/cereal-bold.woff') format('woff');
  font-style: normal;
  font-weight: var(--font-weight-500);
  font-display: swap;
}

@font-face {
  font-family: 'Cereal Medium';
  src: url('/fonts/cereal-medium.woff2') format('woff2'),
       url('/fonts/cereal-medium.woff') format('woff');
  font-style: normal;
  font-weight: var(--font-weight-400);
  font-display: swap;
}

@font-face {
  font-family: 'Cereal Book';
  src: url('/fonts/cereal-book.woff2') format('woff2'),
       url('/fonts/cereal-book.woff') format('woff');
  font-style: normal;
  font-weight: var(--font-weight-300);
  font-display: swap;
}

@font-face {
  font-family: 'Cereal Light';
  src: url('/fonts/cereal-light.woff2') format('woff2'),
       url('/fonts/cereal-light.woff') format('woff');
  font-style: normal;
  font-weight: var(--font-weight-200);
  font-display: swap;
}
